.Candidates{
    width: 100%;
    height: auto;
    }

.container-candidates{
    width: 100%;
    color: blueviolet;
    display:flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: top;
    justify-content: space-around;
}

.kiwkiw{
    width: 40vh;
    border-radius: 1%;
    align-items: center;
}

.card-title {
    font-size: 5vh;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.visi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.table-visi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-visi {
    width: 100%;
    border-collapse: collapse;
}

.table-visi th {
    padding: 10px;
    
}

.header-th {
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.content {
    text-align: left;
    padding: 5px;
}
