.custom-nav-link {
  color: white; 
  transition: color 0.3s ease; 
  text-decoration: none;
}

.custom-nav-link:hover {
  color: rgb(191, 102, 0); 
}

.custom-nav-link.active {
  color: #a52a2a !important; 
  font-weight: bolder; 
  background-color: transparent; 
}
